.Contact{
    .Contact__list{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .Contact__list_item{
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #A4ACAD;
            cursor: pointer;
            .Contact__list_link{
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                text-decoration: none;
                color: #A4ACAD;
                &:hover{
                    color: #FF9846;
                }
            }
        }
    }
}
