.Feedback{
    .Feedback__head{
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
    .Feedback__descript{
        width: 80%;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #A4ACAD;
    }
    .Feedback__list{
        display: flex;
        gap: 15px;
        width: 100%;
        .Feedback__list_item{
            a svg{
                width: 50px;
                height: 50px;
                opacity: 40%;
                transition: 300ms;
                &:hover{
                    opacity: 100;
                    transform: scale(1.2);
                }
            }
        }
    }
}
