.Location{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .Location__text{
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #A4ACAD;
    }
    .Location__selekt{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
}
